@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F7F7F7;
}

#header .navbar-list {
  list-style: none;
  background-color: black;
}

#header .navbar-list .list-item {
  color: white;
  padding: 0.8rem;
  width: 150px;
}

#header .navbar-list .list-item:hover {
  background-color: #333;
}

#main-content {
  width: 86%;
  /* margin-left: 7%;
  margin-top: 2rem; */
  margin: 2rem 7% 4rem 7%;
}

#main-content h1.title {
  font-size: 3rem;
  margin-bottom: 1.6rem;
  border-bottom: 2px solid #333;
}

#main-content .texto p {
  text-indent: 1.2rem;
  text-align: justify;
  margin: 10px 0;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

#main-content .texto a.link {
  text-decoration: none;
  font-weight: 700;
}

#main-content .texto a.link:hover {
  color: navy;
}

#main-content .texto .btn-mais {
  background-color: navy;
  color: white;
  padding: 0.3rem 1.8rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-weight: 700;
  border: 4px solid navy;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  transition: transform 2s, box-shadow 2s;
}

#main-content .texto .btn-mais:hover {
  /* border: 4px solid navy;
  background-color: transparent;
  color: navy;
  cursor: text; */
  transform: translate(5px, 5px);
  box-shadow: none;
  transition: 2s;
}

/* TABELA */
#main-content .texto .table {
  width: 100%;
  margin: 1.4rem 0;
  border: none;
  border-collapse: collapse;
}

#main-content .texto .table thead tr {
  background-color: navy;
  color: white;
}

/* CONFIGURAÇÃO DAS CÉLULAS */
#main-content .texto .table thead tr th,
#main-content .texto .table tbody tr td {
  padding: 0.4rem 0;
  text-align: center;
  width: 20%;
}

.table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 255, 0.1);
}

.table tbody tr td span {
  color: white;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0.1rem 0.3rem;
  border-radius: 6px;
}

.table tbody tr td span.green {
  background-color: green;
}

.table tbody tr td span.red {
  background-color: red;
}

/* .table .impar {
  background-color: #f5f5f5;
}

.table .par {
  background-color: rgba(0, 0, 255, 0.1);
} */